#sidebar-wrapper {
    min-height: 100%;
    -webkit-transition: margin 0.25s ease-out;
    -moz-transition: margin 0.25s ease-out;
    -o-transition: margin 0.25s ease-out;
    transition: margin 0.25s ease-out;
    margin-left: 0;
    width: 250px;
    position: fixed;
    z-index: 100 !important;
    background-color: #ffffff;
    margin-top: 3px;
}

.list-group-item-action:active,
.list-group-item-action:hover,
.fa:hover,
.fa:active {
  color: #179dda  !important;
  background-attachment: #fff !important;
}

.list-group-item {
  width: 100% !important;
  text-align: left !important;
}

.list-active {
  color: #179dda  !important;
}

.menu-label {
    margin-left: 16px;
    vertical-align: middle;
    position: relative;
    font-size: 12px  !important;
    margin-top: 6px !important;
    cursor: pointer;
}