  // Color
  $primarycolor: #08204e;
  $globalheaderbackground: #0f204b;
  $textcolor: #2d2d2d;
  $globalbuttoncolorvariant2: #029fda;
  $globalfootercolor: #017ead;
  $globalfootercolorvar1: #ffffff;
  $globaltextcolorselection1: #009fda;
  $globalbluecircle: #003591;
  $globalspinnercircle: #3f51b5;
  $globalpalletteprimary: #009fda;
  $globalpallettegreenvarient1: #66c266;
  $globalheaderdotcolor: #2d4a70;
  $globallistbackgroundcolor: #029fda;
  $globalcircletitlecolor: #666666;
  $globalpalletteprimaryvarient2: #f2fafd;
  $globalpallettesecondaryvarient2: #cad6eb;
  $globalmatrixontoggle: #e5f5fb;
  $globalfontcolorvariant1: #c4edfa;
  $globalmastereditpanel: #d1d1d166;
  $globalmastereditgroupmandatory: #f8d7da;
  $globaltextcolorvariant4: #000000de;
  $globalmatrixdialogheader: #f8f8f8;
  $globalpallettevarient1: #cccccc;
  $globalmatoptionbgcolor: rgba(0, 0, 0, 0.04);
  $globalmatoptioncolor: #000000;
  $globalbuttonhovercolor: #117a8b;
  $globalbuttonbordercolor: #10707f;
  $globalbuttonfocuscolor: rgba(23, 162, 184, 0.5);

  $globalgridinputfocus: #719ece;
  $globaltoastsuccessbgcolor: #d4edda;
  $globaltoastsuccesstextcolor: #155724;
  $globaltoastsuccessborder: #c3e6cb;
  $globaltoasterrorbgcolor: #f8d7da;
  $globaltoasterrortextcolor: #721c24;
  $globaltoasterrorborder: #f5c6cb;
  $globaltoastwarningbgcolor: #fff3cd;
  $globaltoastwarningtextcolor: #856404;
  $globaltoastwarningborder: #ffeeba;
  $globalred: #ff0000;
  $globalquoteheadercolor: #58bfe6;
  $globalquotebackgroundcolor: #e5f5fb;
  $globaltextcolor: #2b2b2b;
  $globalaggridbgcolor: #f5f7f7;
  $globalaggridgroupbgcolor: #f2fafd;
  $globalpallettesecondaryvarient1: #828ea5;
  $globalpallettesecondaryvarient3: #828ea5;
  $agselectedrowbackgroundcolor: #b7e4ff;
  $globalsidebaritem: #179dda;
  $globaliconcolor: #222;
  $globaltextcolorselection2: #0f204b;
  $globalaggridcellfocuscolor: #66b3ff;
  $faarrowcolor: #c4edfa;
  $globalcommonnavbarbg: #f1f1f1;

  $globalfontsize2: 0.875em; //14px 0.875em
  $globalfontsize3: 1em; //16px
  $globalfontsize1: 0.75em; //12px
  $globalfontsize6: 0.6875em; //11px
  $globalfontsize7: 0.8125em; //13px
  $globalfontsize8: 1.5em; //24px
  $globalfontsize9: 1.125em ;//18px
  $globalfontsize10: 0.65625em; //10.5px
  $globalfontsize11: 1.375em; //10.5px
  $globalmatinkbarwidth: 5.9375em; //95px
  $globalcommercialpopoverwidth: 16.5625em; //265px
  $globalsamplingpopoverwidth: 13.5em; //216px

  $globaltop20: 1.25em; //20px
  $globalpaddingbottom13: 0.8125em; //13px
  $globalheadheight: 3.5625em; //57px
  $globalcellheight: 7.625em; //122px
  $globalcellheight1: 4.0625em; //65px
  $globalbuttonwidth: 5.4375em; //87px
  $globalinkwidth1: 8.4375em; //135px
  $globalinkwidth2: 6.5625em; //105px
  $globalsiteinkbarwidth: 4.5625em; //73px



//Font

//Fontsize

//Button
